{% extends 'base.html' %}

{% block content %}

    <div style="margin: 2rem; text-align:center">
        <h1>
            Cheetah Lee
        </h1>

        <form action="/account/tahlee/" method="POST"> {# 서버에 보내는 요청 명세서 글, 파일 첨부와 같은 데이터들이 이 안에 다 들어가야 함 #}
            {% csrf_token %} {# 장고를 이용해서 post method를 사용해서 서버에 요청하기 위해서는 이게 반드시 필요, 장고에서 제공하는 보안 기능들 중 하나 #}
                <input type="text" name="input_text">
                <input type="submit"
                       class="btn btn-primary"
                       value="SEND">
        </form>

        {% if tahlee_output %}
        <h1>
            {{ tahlee_output.text }}
        </h1>
        {% endif %}

    </div>

{% endblock %}